@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<h2>This tag is add by development branch </h2>

<h3>This tag is add by development-2 branch update, h3 by development-2 branch </h3>

<h4>This is tag add by master branch</h4>

<p role="status">Current count number of click: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
